/bgp-password.sh
/dnsdist-lock
/dnsdist.conf.tmp
/geoip-subdomain.txt
/geoip-subdomain-staging.txt
/ipinfo-token.txt
/keys/
/lock
/nginx-lock
/nginx-tmp
/pdns.conf.tmp
/serial.txt
/serial-staging.txt
/bird.local.conf
/venv/
/zones.tmp
