[Unit]
Description=IPinfo data update

[Service]
CapabilityBoundingSet=
ExecStart=/usr/local/bin/ipinfo-update
ExecStartPost=+/usr/bin/pdns_control reload
IOSchedulingPriority=7
LockPersonality=yes
MemoryDenyWriteExecute=yes
Nice=19
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
PrivateUsers=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/GeoIP
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete privileged @resources
Type=oneshot
User=geoipupdate
WorkingDirectory=/var/lib/GeoIP
