[Unit]
Description=Rage4 setup
BindsTo=sys-devices-virtual-net-ztzgfaij3t.device
After=sys-devices-virtual-net-ztzgfaij3t.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rage4-setup
RemainsAfterExit=true

[Install]
WantedBy=multi-user.target
